.browser-upgrade {
    background: #ccc;
    color: #000;
    padding: 10px 0;
    text-align: center;
}

.browser-upgrade a {
    color: #cc0000;
    text-decoration: underline;
}

.browser-upgrade a:hover,
.browser-upgrade a:focus {
    text-decoration: none;
}

.browser-upgrade a:visited {
    color: #660000;
}